<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        main {
            padding-top: 75px;
            background-color: #eaeaea;
        }
        
        .list-container {
            width: 60%;
            margin: 0 auto;
            text-align: center;
        }
        
        .card {
            margin-bottom: 20px;
        }
        
        .card .card-text {
            text-align: right;
        }
        
        .alert {
            padding: .15rem;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Django project</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0" action="" method="post">
                    {% csrf_token %} {{form.name}}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add</button>
                </form>
            </div>
        </nav>
    </header>

    <main>
        <h1 style="margin: 0 auto;width: max-content;">Country statistics</h1>
        <br>
        <div class="list-container row">
            {% for info in all_info %}
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><b>{{info.country}}</b></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><b>Population:</b> {{info.population}}</h6>
                        <div class="alert alert-danger" style="width: 49%;display: inline-grid;">
                            <b>Total cases:</b> {{info.total}}
                        </div>
                        <div class="alert alert-info" style="width: 49%;display: inline-grid;">
                            <b>Cases percent:</b> {{info.casesPercent}} %
                        </div>
                        <div class="alert alert-warning">
                            <b>New cases:</b> {{info.new}}
                        </div>
                        <div class="alert alert-success">
                            <b>Recovered:</b> {{info.recovered}}
                        </div>
                        <p class="card-text">{{info.time}}</p>
                        <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
                <!-- <div class="alert alert-info">
                    <b>Country:</b> {{info.country}}
                    <p><b>Population:</b> {{info.population}}</p>
                    <br>
                    <p><b>Cases percent:</b> {{info.casesPercent}} %</p>
                    <p><b>Total cases:</b> {{info.total}}</p>
                    <p><b>New cases:</b> {{info.new}}</p>
                </div> -->
            </div>
            {% endfor %}
        </div>
    </main>

</body>

</html>